$fontColor : rgba(255, 255, 255, 1);

.detailsHeader {
  display: flex;
  flex-direction: column;

  img {
    padding: 10px;
    margin: 10px auto auto auto;
    height: 15vh;
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    margin: 10px auto auto auto;
    color: $fontColor;
    font-weight: 500;
  }

  p {
    margin: 10px auto auto auto;
    color: $fontColor;
    font-weight: 300;
    font-size: 24px;
  }
}
